.agendar-container{
    width: 100%;
    max-width: 1120px;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agendar-container .content{
    width: 100%;
    padding: 96px;
    background: #fafbff;
    box-shadow: 0 20px 100px rgb(0, 0, 0);

    display: flex;
    align-items: center;
}

.agendar-container .content form {
    width: 100%;
    display: grid;
    grid-template-columns: 250px 400px 300px;
    grid-gap: 24px;
}
.agendar-container .content form button {
    margin: 16px auto 0 !important;
}

.agendar-container .content form .select{
    display: flex;
    align-items: center;
}

.agendar-container .content form input{
    margin-top: 8px;
    font-size: 16px;
    max-width: 250px;
}

.agendar-container .content form .select label{
    padding: auto;
    width: 450px;
}